div{
    background-color: red;
    text-align: center;
    text-decoration-color: white;
    text-emphasis: bold;
    font-size: 32px;
}

p{
    background-color: green;
    font-size: 18px;
    text-decoration-color: white;
}